!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 You have been invited to a league in Heavy Metal!
    %p
      If you are already a member of Heavy Metal, follow the link below to accept the invitation. You'll need to enter your League Key, which is <strong>#{@league_key}</strong>.
    %p
      If you aren't yet a member, please sign up for Heavy Metal, then follow the link below.
    %p
      To log in to the site, just follow
      = link_to "this link.", league_url(@league_id)
