header {
  font-family: 'Source Code Pro';
  background-color: #404040;
  position: relative;

  ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 10px;

    li {
      display: inline-block;
      margin: 0px 10px 0px 10px;
    }
  }

  .devise_navigation {
    position: absolute;
    right: 0px;
  }

  a {
    color: lime;
    font-weight: 300;
  }

  a:hover {
    color: white;
  }
}
