@import url(http://fonts.googleapis.com/css?family=Black+Ops+One);

.home_h1 {
  font-family: 'Black Ops One', sans-serif;
  font-size: 5em;
  letter-spacing: 10px;
}

#ready {
  font-size: 2em;
  background-color: rgba(200,200,200,0.5);
  text-align: center;
  margin: auto;
  width: 50%;
}
