@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,700);

body {
  margin: 0;
  font-family: 'Source Code Pro';
}

#wrapper {
  padding: 10px;
}

h1 {
  margin: 0;
}

table {
  width: 70%;
  margin: auto;

  thead {
    th {
      background-color: #999999;
      color: lime;
    }
  }

  tbody {
    text-align: center;

    tr:nth-child(even) {
      background-color: #DDDDDD;
    }
  }
}
