@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
  margin: 0;
  background: white asset-data-url('halfmarine.png') no-repeat;
  background-position: bottom left;
  background-attachment: fixed;
  background-size: 40%;
}

#wrapper {
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h1 {
  margin: 0;
  text-align: center;
}

h2 {
  text-align: center;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: lime;
}

form {
  width: 50%;
  margin: auto;
  text-align: center;

  label {
    display: block;
  }

  .required {
    color: red;
  }

  div.input {
    margin-top: 20px;
  }

  input, textarea {
    width: 100%;
  }

  .hint {
    font-size: .8em;
  }

  div.form-actions {
    margin-top: 30px;
  }

  input.button {
    width: 50%;
  }
}

table {
  width: 70%;
  margin: auto;
  border-spacing: 0px;

  thead {
    th {
      font-weight: 400;
      background-color: #999999;
      color: white;
    }

    th.damage {
      color: red;
    }
  }

  tbody {
    text-align: center;

    tr:nth-child(even) {
      background-color: #DDDDDD;
    }

    tr:nth-child(odd) {
      background-color: #FFFFFF;
    }
  }
}

table {
  input.table_button {
    width: 60px;
  }
}

.small_text_box {
  text-align: center;
  margin-top: 10px;
}
